

<div><span>cust:</span>{{cust.test()}}</div>
<div><span>cust:</span>{{cust.greet()}}</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>

</ul>

<ul *ngFor="let person of people">
  <li [ngStyle]="{'background-color':getColor(person.country),
  'padding':getPaddingPC(person.country),
  'width':getMR(person.country)}"> {{ person.name }} ({{ person.country }})
  </li>
</ul>




<app-data-detail [data0]="selectedHero"></app-data-detail>
