

<div><span>cust:</span>{{cust.test()}}</div>
<div><span>cust:</span>{{cust.greet()}}</div>

<ul *ngFor="let person of people">
  <li [ngStyle]="{'background-color':getColor(person.country),
  'padding':getPaddingPC(person.country),
  'width':getMR(person.country)}"> {{ person.name }} ({{ person.country }})
  </li>
</ul>


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>


    <span [ngStyle]="{'color':getColor2(hero.name),
    'background-color':getBackground(hero.name),
    'padding':getPadding(hero.name)

    }">{{hero.name}}</span>


  </li>
  <p *ngIf="heroes.length > 3">There are many heroes!</p>
</ul>


<app-data-detail [data0]="selectedHero"></app-data-detail>
