<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>

  <br/><br/>
  Hello {{ user.displayName}}, you are logged in!
  <br/><br />
  Your Google email is {{user.email}}
  <br /><br />
  Your Google Photo ID is: <br />
  <img src={{user.photoURL}} width='100px'/>
  <br />


</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login Google PopUp</button>
  <br>
  <button (click)="ReDirect()">Login Google Redirect</button>
</ng-template>
