<h1>{{title}}</h1>  <a href="https://github.com/mchirico/angular">Github</a>
&nbsp;&nbsp;
<a href="https://travis-ci.com/mchirico/angular">Travis-ci</a>
&nbsp; <a href="https://jira.aipiggybot.io/secure/RapidBoard.jspa?projectKey=AN">jira</a>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/map">Map</a>
  <a routerLink="/simpleForm">Simple Form</a>
  <a routerLink="/auth">Auth</a>
  <a routerLink="/item">Item</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
